.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  box-shadow: 5px 5px rgba(15, 134, 221, 0.5);
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 30px;
  width: 60%;
  border-radius: 30px;
  border: 4px solid rgba(15, 134, 221, 0.5);
}

.localisation {
  font-size: 60px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.currentTemp {
  font-size: 120px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.mainTemperature {
  text-align: right;
  margin-top: 80px;
}
.currentCityAndDate {
  margin-top: 40px;
}

.currentStatus {
  line-height: 20px;
  margin: 0 auto;
  font-family: "Sintony", sans-serif;
}

.parameters,
.futureDays {
  text-align: center;
}

.parametersName {
  font-size: smaller;
  font-family: "Poppins", sans-serif;
}

.forecast-temperature,
.temperatureParameters {
  font-size: 16px;
  font-family: "Sintony", sans-serif;
  margin: 0 auto;
}

form {
  font-family: "Sintony", sans-serif;
  margin: 0 auto;
}

.btn {
  display: block;
  border-radius: 15px;
  background: transparent;
  margin: 0 auto;
}

.buttonSearch {
  box-shadow: 3px 3px rgba(15, 134, 221, 0.5);
  border: 2px solid rgba(15, 134, 221, 0.5);
}
.buttonSearch:hover {
  background: rgba(15, 134, 221, 0.5);
  box-shadow: 3px 3px rgba(243, 182, 31, 0.5);
  cursor: pointer;
  border-color: transparent;
}

.buttonLocation {
  box-shadow: 3px 3px rgba(43, 194, 97, 0.5);
  border: 2px solid rgba(43, 194, 97, 0.5);
}

.buttonLocation:hover {
  background: rgba(43, 194, 97, 0.5);
  box-shadow: 3px 3px rgba(15, 134, 221, 0.5);
  cursor: pointer;
  border-color: transparent;
}

.temperatureSystem {
  box-shadow: 3px 3px rgba(243, 182, 31, 0.5);
  border: 2px solid rgba(243, 182, 31, 0.5);
  font-family: "Sintony", sans-serif;
}

.temperatureSystem:hover {
  background: rgba(243, 182, 31, 0.5);
  box-shadow: 3px 3px rgba(43, 194, 97, 0.5);
  cursor: pointer;
  border-color: transparent;
}

.main-image {
  width: 100%;
  margin-top: 70px;
  margin-left: 40px;
}
.units-big-cel {
  font-size: 20px;
  position: relative;
  top: -75px;
  left: -15px;
}

.future-min-temp {
  font-size: 14px;
  color: #808080;
}

.sign {
  text-align: center;
  padding-top: 15px;
  font-family: "Sintony", sans-serif;
  font-size: 12px;
}

.linkToGit {
  color: rgba(15, 134, 221, 0.5);
}

.linkToGit:hover {
  color: rgba(43, 194, 97, 0.5);
  text-decoration: none;
}
